@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "robotoNew";
  src: url("/fonts/roboto-condensed-webfont.woff2") format("woff2"),
    url("/fonts/roboto-condensed-webfont.woff") format("woff");
}

@font-face {
  font-family: "infinity";
  src: url("/fonts/madeinfinity_personaluse-thin-webfont.woff2") format("woff2"),
    url("/fonts/madeinfinity_personaluse-thin-webfont.woff") format("woff");
}
